# Solidity GoldBatchToken contract
GoldBatchToken.sol @AlexAshwin

#Solidity KYCRegistry contract
KYCRegistry.sol @priyanka

# Backend
/backend/ @akshay1dogra1993

# .yml @dawn-bringer
/.github/workflows/ @dawn-bringer


